.slider .btn {
  color: rgba(39, 107, 130, 1);
  margin-top: 20px;
}

.section-social .fa-4x {
  margin: 5px 10px;
}

.section-screenshot {
  margin-top: 25%;
}

.section-screenshot i {
  padding: 3.75rem;
}

.slider .indicators .indicator-item.active {
  background-color: rgba(39, 107, 130, 1);
}

.background-gradient {
  background: linear-gradient(to right, rgba(39, 107, 130, 1) 0, rgb(119, 146, 182));
}

.projects-text-color {
  color: rgba(39, 107, 130, 1);
}

#header {
  background-color: #4c7caf;
  padding-left: 50px;
  font-size: 20px;
}

.project-content p {
  font-size: 14px;
}

.project-content a {
  font-size: 16px;
}

.about p {
  font-size: 19px;
  margin-left: 175px;
  margin-right: 175px;
}

.about h4 {
  padding-bottom: 10px;
  text-align: center;
  border: none;
}

.about .description {
  margin-left: 110px;
  margin-right: 110px;
}

nav .brand-logo {
  font-size: 2rem;
}
